@{
    ViewBag.Title = "Carl Hamilton";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    16 Crab Lane<br />
    Harrogate, NY HG1 3BE<br />
    <abbr title="Phone">P:</abbr>
    07432-632691
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:carl.hamilton@chtsi.uk">carl.hamilton@chtsi.uk</a><br />
    
</address>